.catalog-table {
  background-color: $gray-30;
  padding-top: 40px;

  .crumbs {
    li {
      display: inline-block;
      a {
        color: $brown;
      }
      &.active {
        a {
          color: $brown-10;
        }
      }
    }
  }

  .fa {
    color: $brown;
  }

  .void {
    font-family: 'Georgia Bold Italic', sans-serif;
  }

  .input-range {
    input[type=range] {
      -webkit-appearance: none;
      margin: 10px 0;
      width: 97%;
    }
    input[type=range]:focus {
      outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 1px;
      cursor: pointer;
      animate: 0.2s;;
      background: $gray-70;
      border-radius: 0;
      border: 0;
    }
    input[type=range]::-webkit-slider-thumb {
      border: 0;
      height: 15px;
      width: 15px;
      border-radius: 0;
      background: $green-10;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -7px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: $gray-70;
    }
    input[type=range]::-moz-range-track {
      width: 100%;
      height: 1px;
      cursor: pointer;
      animate: 0.2s;
      background: $gray-70;
      border-radius: 0;
    }
    input[type=range]::-moz-range-thumb {
      border: 0;
      height: 15px;
      width: 15px;
      border-radius: 0;
      background: $green-10;
      cursor: pointer;
    }
    input[type=range]::-ms-track {
      width: 100%;
      height: 1px;
      cursor: pointer;
      animate: 0.2s;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    input[type=range]::-ms-fill-lower {
      background: $gray-70;
      border: 0;
      border-radius: 0;
    }
    input[type=range]::-ms-fill-upper {
      background: $gray-70;
      border: 0;
      border-radius: 0px;
    }
    input[type=range]::-ms-thumb {
      margin-top: 1px;
      border: 0;
      height: 15px;
      width: 15px;
      border-radius: 0;
      background: $green-10;
      cursor: pointer;
    }
    input[type=range]:focus::-ms-fill-lower {
      background: $gray-70;
    }
    input[type=range]:focus::-ms-fill-upper {
      background: $gray-70;
    }
  }

  .input-price {
    display: flex;
  }

  .min-price {
    height: 32px;
    width: 115px;
    border: 2px solid $gray-70;
  }

  .max-price {
    height: 32px;
    width: 115px;
    border: 2px solid $gray-70;
  }

  .input-color {
    .checkbox {
      display: inline-block;
      width: 27px;
      height: 27px;
      border: none;
    }
    .checkbox1 {
      background-color: $white-11;
    }
    .checkbox2 {
      background-color: $pink-10;
    }
    .checkbox3 {
      background-color: $brown-20;
    }
    .checkbox4 {
      background-color: $brown-30;
    }
    .checkbox5 {
      background-color: $brown-40;
    }
    .checkbox6 {
      background-color: $brown-50;
    }
    .checkbox7 {
      background-color: $brown-60;
    }
  }

  .input-size {
    font-family: "Open Sans Light", sans-serif;
  }

  .left-size {
    display: inline-block;
    width: 50%;
  }

  .right-size {
    display: inline-block;
    width: 50%;
    float: right;
  }

  .checkbox-border {
    background: $white;
  }


}