.section-9 {
  min-height: 293px;


  .ymaps-2-1-72-controls__control_toolbar {
    display: none;
  }

  .info {
    z-index: 1000;
    color: $white;
    h4{
      font-family: "OpenSansItalic-600", sans-serif;
    }
  }

  .choice {
    width: 221px;
    border: 2px solid $accent-yellow;
  }

  .info-text {
    color: $gray-40;
  }
}
