.section-8 {
  .top-text {
    font-family: "Georgia Bold Italic", sans-serif;
    font-size: 26px;
  }

  .img {
    width: 165px;
    height: 143px;
    border: 2px solid $accent-yellow;
    box-shadow: inset 0px 0px 300px 154px rgba(0,0,0,0.34);
  }

  .work-button {
    a{
      display: inline-block;
      border-radius: 0;
      color: $accent-yellow;
      font-family: "Open Sans ExtraBold", sans-serif;
      white-space: nowrap;
      &:hover {
        color: $accent-yellow!important;
        background-color: $black!important;
        border: 2px solid $darkgoldenrod!important;
      }
    }
  }

  .work-img {
    img {
      border: 2px solid $accent-yellow;
      box-shadow: inset 0px 0px 300px 154px rgba(0,0,0,0.34);
    }
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 1000;
  }
}
@media only screen and (max-width : 1200px) {
  .section-8 {
    .img {
      width: 143px;
    }
    .wrap {
      padding: 0;
      text-align: center;
    }
    .button {
      padding: 12px 17px;
    }
  }
}
@media only screen and (max-width : 991px) {
  .section-8 {
    .work-img {
      .pt0{
        padding-top: 10px;
      }
    }
    .wrap {
      padding-left: 15px;
      padding-right: 15px;
    }
    .button {
      width: 60%;
    }
    .img-pt {
      padding-top: 10px;
    }
    .top-text {
      text-align: center;
    }
  }
}
@media only screen and (max-width : 767px) {
  .section-8 {
    .pt-img {
      padding-top: 10px;
    }
  }
}
@media only screen and (max-width: 576px) {
  .section-8 {
    .top-linear {
      text-align: center;
    }
    .px {
      padding-right: 5px;
      padding-left: 5px;
    }
    .tac {
      text-align: -webkit-center;
    }
    .pt-img-2 {
      padding-top: 10px;
    }
  }
}
@media only screen and (max-width : 480px) {
  .section-8 {
    .work-img {
      padding-top: 30px;
    }
    .work-button {
      padding-top: 25px;
    }
  }
}