.section-2 {

  .text {
    h4{
      font-family: 'OpenSansItalic-700',sans-serif;
    }
    .price {
      color: $brown;
    }
    .btn {
      font-family: 'OpenSansLatin-600',sans-serif;
      color: $brown;
      box-shadow: 8px 8px rgba(47,47,47,.3);
    }
  }

}