.section-7 {
  background-color: $gray-30;
  padding-bottom: 30px;

  iframe {
    box-shadow: 8px 8px rgba(47,47,47,.3);
    width: 80%;
  }

  .you-video {
    text-align: center;
  }

  .production-text {
    h4{
      font-family: "Georgia Bold Italic",sans-serif;
      font-size: 20px;
    }
    p {
      font-family: "Open Sans Light",sans-serif;
      font-size: 14px;
      color: $gray-60;
    }
  }

  .production-img {
    position: relative;
    display: inline-block;
    .img {
      width: 91px;
      height: 66px;
      background-repeat: no-repeat;
      border: 2px solid $accent-yellow;
      box-shadow: inset 0px 0px 300px 154px rgba(0,0,0,0.34);
      background-position: center;
    }
  }

  .certificate-text {
    h4{
      font-family: "Georgia Bold Italic",sans-serif;
      font-size: 20px;
    }
    p {
      font-family: "Open Sans Light",sans-serif;
      font-size: 14px;
      color: $gray-60;
    }
  }

  .certificate-img {
    position: relative;
    display: inline-block;
    .img {
      width: 100px;
      height: 146px;
      border: 2px solid $accent-yellow;
    }
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 1000;
  }

}
@media only screen and (max-width : 1200px) {
  .section-7 {
    .production-text {
      p {
        padding-bottom: 0!important;
      }
    }
    .p-mar {
      margin-bottom: 0;
    }
    .certificate-img {
      top: 3px;
    }
  }
}
@media only screen and (width : 992px) {
  .section-7 {
    .certificate-text {
      h4 {
        padding-top: 77px;
      }
    }
  }
}
@media only screen and (max-width : 992px) {
  .section-7 {
    .col-md-8 {
      padding-left: 20px;
    }
    .col-md-12 {
      padding-top: 0;
    }
  }
}
@media only screen and (max-width : 767px) {
  .section-7 {
    .cerf {
      padding-top: 50px;
    }
    .pros {
      padding-top: 30px;
    }
    .you-video {
      padding-bottom: 25px;
    }
  }
}
@media only screen and (max-width: 576px) {
  .section-7 {
    .modal-img {
      width: 300px!important;
      height: 320px!important;
    }
  }
}
@media only screen and (min-width : 1200px) {
  .section-7 {

  }
}
