.section-5 {
  min-height: 706px;

  .border {
    border: 1px solid $accent-yellow;
    display: block;
    position: absolute;
    top: -10px;
    right: 25px;
    width: 100%;
    height: 562px;
    border-right: none;
    &::after {
      display: block;
      content: '';
      position: absolute;
      height: 100%;
      border: 1px solid $accent-yellow;
      top: 0;
      right: 0;
      z-index: 1000;
    }
  }

  .individual-text {
    font-family: "Georgia Bold Italic",sans-serif;
    color: $white;
  }

  .card {
    border-radius: 0;
    z-index: 1010;
    box-shadow: 8px 8px rgba(47,47,47,.3);
  }

  .card-title {
    font-family: "Georgia Bold Italic",sans-serif;
  }

  .card-body {
    font-family: "Open Sans Light",sans-serif;
    p{
      color: $gray-20;
    }
  }

  .price {
    span {
      color: $brown;
      font-family: 'GeorgiaRegular',sans-serif;
    }
    p{
      font-family: "Open Sans Light",sans-serif;
    }
  }

  .stars {
    font-size: 12px;
  }

  .discount {
    font-family: 'GeorgiaRegular',sans-serif;
    position: absolute;
    text-align: center;
    right: 20px;
    top: 190px;
  }

 .forms {
   z-index: 1010;
   width: 100%;
   height: 100%;
   text-align: center;
   background-color: $white;
   border: 2px solid $accent-yellow;
    h1 {
      font-family: "Georgia Bold Italic",sans-serif;
      font-weight: bold;
      white-space: nowrap;
    }
   p{
     font-family: "Open Sans Light",sans-serif;
   }
    input {
      border: 2px solid $accent-yellow;
    }
 }

  .question {
    border: 2px solid $accent-yellow;
    height: 140px;
  }

  .button {
    font-family: "Open Sans ExtraBold",sans-serif;
    color: $brown;
    font-weight: bold;
    width: 80%;
  }
}
@media only screen and (max-width : 1200px) {
.section-5 {
  .border {
    display: none;
  }
  .forms {
    h1 {
      white-space: normal;
    }
  }
}
}
@media only screen and (max-width : 992px) {
  .section-5 {
    .individual-text {
      text-align: center;
    }
  }
}
@media only screen and (max-width : 991px) {
  .section-5 {
    background-image: url("../img/section5/section-5-bg-991.png") !important;
    .mt0 {
      margin-top: 30px;
    }
  }
}
@media only screen and (max-width : 767px) {
  .section-5 {
    .forms {
      h1 {
        white-space: normal;
      }
    }
    .pt13 {
      padding-top: 0;
    }
    .stars {
      img {
        padding-left: 40px;
      }
    }
  }
}
@media only screen and (max-width : 575px) {
  .section-5 {
    .m-card{
      margin-top: 30px;
    }
    .p-card {
      padding-left: 30px;
      padding-right: 30px;
    }
    .stars {
      img {
        padding-left: 60px;
      }
    }
  }
}