.section-2 {
  .text {
    h4{
      font-family: "Georgia Bold Italic",sans-serif;
    }
    p{
      font-family: "Open Sans Light",sans-serif;
    }
    .price {
      color: $brown;
      font-size: 36px;
      font-family: "GeorgiaItalic",sans-serif;
    }
    .btn {
      border-radius: 0;
      font-family: 'Open Sans ExtraBold',sans-serif;
      color: $brown;
      position: relative;
      top: 0;
      left: 0;
      box-shadow: 8px 8px rgba(47,47,47,.3);
      transition: all 1s ease!important;
      &:active {
        box-shadow: none!important;
        transition: all .7s ease!important;
        top: 8px;
        left: 8px;
      }
    }
  }
}

@media only screen and (max-width : 1299px) {
  .section-2 {
    .text {
      h4 {
        padding-right: 10px;
      }
      p {
        padding-right: 10px;
      }
    }
  }
}
@media only screen and (max-width : 1200px) {
  .section-2 {
    .text {
      padding-top: 30px;
      padding-left: 100px;
    }
  }
}
@media only screen and (max-width : 992px) {
  .section-2 {
    .text {
      padding-left: 30px;
      img {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      h4 {
        font-size: 16px;
      }
    }
    .price {
      font-size: 25px!important;
    }
  }
}
@media only screen and (max-width : 768px) {
  .section-2{
    .text {
      padding-top: 10px;
      img {
        display: none;
      }
    }
    p {
      font-size: 13px;
    }
    h4{
      font-size: 15px;
    }
    .pr300 {
      margin-bottom: 5px;
    }
    .button {
      margin-top: 10px;
      margin-left: 0!important;
    }
  }
}
@media only screen and (max-width : 600px) {
  .section-2 {
    .price {
      font-size: 20px!important;
    }
  }
}
@media only screen and (max-width : 575px) {
  .section-2 {


    .text {
      img {
        display: block;
      }
    }
    .button {
      margin-top: 0!important;
    }
  }
}
@media only screen and (max-width : 575px) {
  .section-2 {
    .button {
      margin-left: 50px!important;
    }
    .price-img {
      height: 300px!important;
    }
  }
}
@media only screen and (max-width : 480px) {
  .section-2 {
    .text {
      .button {
        margin-top: 10px;
      }
    }
  }
}
@media only screen and (max-width : 356px) {
  .section-2 {
    .button {
      margin-left: 30px!important;
    }
  }
}
@media only screen and (max-width : 356px) {
  .section-2 {
    .button {
      margin-left: 10px!important;
    }
  }
}