.section-4 {
  min-height: 473px;
  text-align: center;
  color: $white;

  .creat-img {
    padding-top: 135px;
  }

  .info {
    h4{
      font-family: 'OpenSansLatin-600',sans-serif;
    }
    p {
      font-family: 'OpenSansLatin-300',sans-serif;
      padding: 0 150px;
    }
  }

}