.section-3 {
  background-color: $white-1000;
  font-family: "Open Sans Light",sans-serif;

  .popular-text {
    font-family: "Georgia Bold Italic",sans-serif;
    font-size: 26px;
    color: $black-footer;
  }

  .card {
    box-shadow: 8px 8px rgba(47,47,47,.3);
    border-radius: 0;
  }

  .card-title {
    font-family: "Georgia Bold Italic",sans-serif;
    font-size: 16px;
  }

  .card-body {
    font-family: "Open Sans Light",sans-serif;
    p{
      color: $gray-20;
    }
  }

  .price {
    span {
      color: $brown;
      font-family: 'Georgia',sans-serif;
    }
  }

  .stars {
    font-size: 12px;
  }

  .border {
    border: 2px solid $brown;
    display: block;
    position: absolute;
    top: -10px;
    right: 15px;
    width: 100%;
    height: 256px;
    .button {
      position: absolute;
      border-radius: 0;
      right: 0;
    }
  }

  .catalog {
    text-align: center;
    .button {
      border-radius: 0;
      font-weight: bold;
      color: $brown;
      box-shadow: 8px 8px rgba(47,47,47,.3);
      position: relative;
      top: 0;
      left: 0;
      transition: all 1s ease!important;
      &:active {
        box-shadow: none!important;
        transition: all .7s ease!important;
        top: 8px;
        left: 8px;
      }
    }
  }
}

@media only screen and (max-width : 992px) {
  .section-3 {
    .pt0 {
      padding-top: 30px;
    }
  }
}

@media only screen and (max-width : 767px) {
  .section-3 {
    .pl60 {
      padding-left: 30px;
    }
  }
}
@media only screen and (max-width : 575px) {
  .section-3 {
    .popular-text {
      text-align: center;
    }
    .card{
      margin: 30px;
    }
  }
}