.section-6 {
  min-height: 364px;

  iframe {
    box-shadow: 8px 8px rgba(47,47,47,.3);
    width: 100%;
  }

  .feedback-custom {
    display: flex;
    width: 100%;
  }

  .h3{
      font-family: "Georgia Bold Italic",sans-serif;
    }

  .part {
    display: inline-block;
    background-repeat: no-repeat;
    height: 148px;
    width: 25%;
    position: relative;
    flex-grow: 1;
  }

  .border {
    border: 1px solid $accent-yellow;
    height: 148px;
    bottom: 10px;
    position: absolute;
    right: 5px;
    width: 100%;
  }

  .button {
    font-family: "Open Sans ExtraBold",sans-serif;
    background-color: $white;
    color: $accent-yellow;
    border: 2px solid $accent-yellow;
    border-radius: 0;
    transition: all .5s ease;
    padding: 8px 34px;
    &:active {
      color: $white!important;
      background-color: $cyan!important;
      border: 2px solid $darkgoldenrod!important;
      transition: all .5s ease;
    }
    &:focus {
      color: $accent-yellow!important;
      text-decoration: none!important;
      transition: all .5s ease;
    }
    &:hover {
      transition: all .5s ease;
      color: $accent-yellow!important;
      background-color: $black!important;
      border: 2px solid $darkgoldenrod!important;
    }
  }

  .youtube-feedback {
    height: 148px;
    width: 160px;
    p {
      font-family: 'Open Sans Light', arial;
    }
    .icon {
      left: 50%;
      position: relative;
      transform: translate(-50%);
      bottom: 5px;
    }
    .arrow {
      position: absolute;
      right: 30px;
    }
  }
}
@media only screen and (max-width : 1200px) {
  .section-6 {
    .youtube-feedback {
      .arrow {
        right: 15px;
      }
    }
  }
}
@media only screen and (max-width : 1200px) {
  .section-6 {
    .button {
      padding: 8px 18px;
    }
  }
}
@media only screen and (max-width : 991px) {
  .section-6 {
    .feedback-custom {
      margin-bottom: 40px;
      h3 {
        padding-top: 30px;
        padding-bottom: 10px;
      }
    }
    .button {
      padding: 8px 28px;
    }
  }
}
@media only screen and (max-width : 767px) {
  .section-6 {
    iframe {
      width: 100%;
    }
    .feedback-custom {
      padding-left: 0;
      flex-wrap: wrap;
    }
    .part {
      width: 45%;
      margin-right: 2.5%;
      margin-left: 2.5%;
      margin-bottom: 15px;
    }
    .d-flex {
      padding: 0 15px;
    }
    .youtube-feedback {
      .arrow {
        right: 45px;
      }
    }
    .f-gr-1 {
      text-align: center;
    }
  }
}
@media only screen and (max-width: 576px) {
  .section-6 {
    iframe {
      width: 60%;
      left: 50%;
      position: relative;
      transform: translateX(-50%);
    }
    .feedback-custom {
      text-align: center;
    }
    .youtube-feedback {
      .icon {
        left: 0;
        transform: none;
      }
    }
  }
}
@media only screen and (max-width: 565px) {
  .section-6 {
    .all-feedback {
      left: 50%;
      position: relative;
      transform: translateX(-50%);
    }
  }
}
@media only screen and (max-width : 480px) {
  .section-6 {
    iframe {
      width: 290px;
    }

    .d-flex {
      padding-bottom: 30px;
      h3 {
        padding-bottom: 15px;
      }
    }

    .youtube-feedback {
      .arrow {
        right: 12px;
      }
    }

    .all-feedback {
      padding-bottom: 15px;
    }
  }
}