.section-1 {
  background-color: $orange-900;
  font-family: "Georgia Bold Italic",sans-serif;


  .card {
    position: relative;
    height: 330px;
    border: none;
    border-radius: 0;
  }

  .card-title {
    .border-bottom {
      position: absolute;
      border-bottom: 2px solid $accent-yellow;
      height: 10px;
      width: 30px;
    }
  }

  .border {
    border: 1px solid $white;
    display: block;
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 360px;
    &.center {
      width: 90%;
      left: 50%;
      transform: translateX(-50%);
    }
    &.right {
      left: auto;
      right: 15px;
    }
  }


  .card-body {
    position: absolute;
    bottom: 10px;
    left: 0;
  }

  .individual {
    .border {
      position: absolute;
      z-index: 1000;
      border: 1px solid $green;
      top: -15px;
      left: 25px;
      height: 380px;
      width: 99%;
    }
    .bgi {
      width: 100%;
      height: 383px;
    }
  }

  .individ-text {
    p{
      font-family: "Open Sans Light",sans-serif;
    }
    .button {
      font-family: "Open Sans Light",sans-serif;
      border-radius: 0;
      position: relative;
      z-index: 1010;
      top: 54px;
      box-shadow: 8px 8px rgba(47,47,47,.3);
    }
  }

}
@media only screen and (max-width : 1200px) {
  .section-1 {
    .individ-text {
      padding: 45px 20px;
      .button {
        top: 64px;
      }
    }
  }
}
@media only screen and (max-width : 991px) {
  .section-1 {
    .individ-text {
      padding: 10px 20px;
    }
    h3 {
      padding-top: 10px;
      font-size: 20px;
    }
    p {
      padding-top: 30px;
    }
    img {
      margin: 0;
    }
    .individ-text {
      .button {
        top: 68px;
        font-size: 12px;
      }
    }
  }
  .card-title {
    font-size: 22px!important;
  }
}

@media only screen and (max-width : 767px) {
  .section-1 {
    .individ-text {
      .btn {
        white-space: normal;
        top: 32px;
      }
    }
    .card-title {
        font-size: 18px;
    }
    .card-body {
      padding-left: 17px;
    }
    .individual {
      .border {
        left: 17px;
      }
    }
  }
}

@media only screen and (max-width : 575px) {
  .section-1 {
    .card-list {
      padding: 30px 30px;
    }

    .individual {
      .border {
        display: none;
      }
    }

    .card-body {
      padding-left: 65px;
    }

    .card-title {
      font-size: 24px;
    }


    .individual {
      .pr0 {
        padding: 0;
      }
      .pl0 {
        padding: 0 15px;
      }
      .button {
        top: 10px;
      }
    }
    .price-img-1 {
      display: none;
    }
    .price-img-2 {
      display: block!important;
    }
  }
}
@media only screen and (max-width : 480px) {
  .section-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@import "content2";
@import "content3";
@import "content4";
@import "content5";
@import "content6";
@import "content7";
@import "content8";
@import "content9";
