.catalog-void {
  background-color: $white-1000;
  padding-top: 40px;

  .crumbs {
    font-family: "Georgia Bold Italic", sans-serif;
    li {
      display: inline-block;
      a {
        color: $brown;
      }
      &.active {
        a {
          color: $brown-10;
        }
      }
    }
  }

  .fa {
    color: $brown;
    position: relative;
    top: 1px;
  }

  .void-texts {
    background-color: $white;
  }

  .stars-void {
    font-size: 12px;
    .fa {
      color: $white-20;
      top: 0;
    }
  }


  .name-void {
    font-family: "Georgia Bold Italic",sans-serif;
  }

  .text-void {
    font-family: "Open Sans Light",sans-serif;
    font-size: 14px;
  }

  .input-color {
    .checkbox {
      display: inline-block;
      width: 27px;
      height: 27px;
      border: none;
    }
    .checkbox1 {
      background-color: $white-11;
    }
    .checkbox2 {
      background-color: $pink-10;
    }
    .checkbox3 {
      background-color: $brown-20;
    }
    .checkbox4 {
      background-color: $brown-30;
    }
    .checkbox5 {
      background-color: $brown-40;
    }
    .checkbox6 {
      background-color: $brown-50;
    }
    .checkbox7 {
      background-color: $brown-60;
    }
  }

  .old-price {
    font-family: "Open Sans Light",sans-serif;
    color: $gray-20;
  }

  .new-price-void {
    color: $brown;
  }

  .new-price-void {
    font-family: "Georgia Regular",sans-serif;
  }

  .size-choice {
    background: transparent;
    border-color: transparent;
    position: relative;
    bottom: 3px;
    color: $accent-yellow;
    font-size: 24px;
    font-family: "Open Sans ExtraBold",sans-serif;
    cursor: pointer;
  }

  .voids-prices {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 3px;
    border: 2px solid $gray-70;
    padding-left: 7px;
    padding-right: 7px;
  }

  .voids-price-button {
    .button {
      font-family: "Open Sans ExtraBold", sans-serif;
      padding: 12px 44px;
      position: relative;
      box-shadow: 8px 8px rgba(47,47,47,.3);
      top: 0;
      left: 0;
      box-shadow: 8px 8px rgba(47,47,47,.3);
      transition: all .7s ease!important;
      &:active {
        box-shadow: none !important;
        transition: all 1s ease !important;
        top: 8px;
        left: 8px;
      }
    }
  }

  .border-void {
    position: absolute;
    border: 1px solid $accent-yellow;
    height: 700px;
    top: 290px;
    width: 94%;
    left: 40px;
    display: inline-block;
    border-right: none;
    border-left: none;
    z-index: 10;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      top: 0;
      right: 0;
      height: 100%;
      z-index: 10;
      border-right: 1px solid $accent-yellow;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 10;
      border-right: 1px solid $accent-yellow;
    }
  }

  .bottom-button {
    text-align: center;
    z-index: 1050;
    button{
      background: transparent;
      border: none;
      cursor: pointer;
    }
    .fa-circle {
      font-size: 10px;
    }
  }

  .title {
    font-family: "Georgia Bold Italic", sans-serif;
    h1 {
      &:hover{
        .border-bottom {
          border-bottom: 2px solid $accent-yellow;
          width: 100%;
          transition: all .7s ease;
        }
      }
    }
  }

  .border-bottom {
    padding-top: 20px;
    border-bottom: 2px solid $accent-yellow;
    width: 44px;
  }

  .title-menu {
    font-family: "Georgia Bold Italic", sans-serif;
    ul {
      display: inline-block;
    }
    li {
      list-style-type: none;
      display: inline-block;
      padding-right: 30px;
    }
    a {
      color: $brown;
    }
  }

  .top-description {
    h5 {
      display: inline-block;
      font-family: "Georgia Bold Italic",sans-serif;
      float: left;
    }
    p {
      display: inline-block;
      font-family: "GeorgiaItalic",sans-serif;
      float: right;
    }
    span{
      display: none;
    }
  }

  .center-border {
    display: inline-block;
    border: 1px solid $black;
    width: 100%;
  }

  .bottom-description {
    h5 {
      display: inline-block;
      font-family: "Georgia Bold Italic",sans-serif;
      float: left;
    }
    p {
      display: inline-block;
      font-family: "GeorgiaItalic",sans-serif;
      float: right;
    }
  }

  .product-void {
    background-color: $white;
    h1 {
      font-family: "Georgia Bold Italic",sans-serif;
    }
  }


  .price-ottoman {
    .border {
      border: 2px solid $brown;
      display: block;
      position: absolute;
      top: -10px;
      right: 15px;
      width: 100%;
      height: 256px;
      .button {
        position: absolute;
        border-radius: 0;
        right: 0;
      }
    }
    .stars {
      img {
        padding-left: 20px;
      }
    }
  }
}
@media only screen and (max-width : 1300px) {
  .catalog-void {
    .void-texts {
      padding-right: 40px;
    }
  }
}

@media only screen and (max-width : 1200px) {
  .catalog-void {
    .border-void {
      display: none;
    }
    .price-ottoman {
      .stars {
        font-size: 12px;
      }
    }
  }
}
@media only screen and (max-width : 992px) {
  .catalog-void {
    .price-ottoman {
      .pt0 {
        padding-top: 25px;
      }
    }
    .title {
      h1 {
        font-size: 18px!important;
      }
    }
    .title-menu {
      font-size: 16px!important;
    }
  }
}
@media only screen and (max-width : 768px) {
  .catalog-void {
    .title-menu {
      ul {
        padding: 0;
      }
    }
    .description-menu{
      padding-top: 20px;
    }
    .top-description {
      padding-top: 40px;
      h5 {
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
    .bottom-description {
      padding-top: 10px;
    }
  }
}
@media only screen and (max-width : 575px) {
  .catalog-void {
    .old-price {
      padding-top: 20px;
    }
    .description-menu {
      .container {
        padding: 0 15px;
      }
    }
    .specifications-text {
      .container {
        padding: 0 15px!important;
      }
    }
    .product-void {
      text-align: center;
    }
    .price-ottoman {
      .pt0 {
        padding-top: 0;
      }
      .card {
        margin-top: 25px;
        width: 60%;
      }
    }
  }
}

@media only screen and (max-width : 575px) {
  .catalog-void {
    .voids-prices {
      margin: 20px 0;
    }
    .checkbox {
      margin: 10px 0;
    }
    .price-ottoman {
      .card {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .crumbs {
      padding: 0 15px;
    }
  }
}
@media only screen and (max-width : 400px) {
  .catalog-void {
    .price-ottoman {
      .card {
        width: 80% !important;
      }
    }
  }
}