.catalog-table {
  background-color: $gray-30;
  padding-top: 40px;

  .crumbs {
    li {
      display: inline-block;
      a {
        color: $brown;
      }
      &.active {
        a {
          color: $brown-10;
        }
      }
    }
  }

  .fa {
    color: $brown;
  }

  .void {
    font-family: 'Georgia Bold Italic', sans-serif;
  }

  #ex1Slider .slider-selection {
    background: #BABABA;
  }

  .input-price {
    display: flex;
  }

  .min-price {
    height: 32px;
    width: 115px;
    border: 2px solid $gray-70;
  }

  .max-price {
    height: 32px;
    width: 115px;
    border: 2px solid $gray-70;
  }

  .input-color {
    .checkbox {
      display: inline-block;
      width: 27px;
      height: 27px;
      border: none;
    }
    .checkbox1 {
      background-color: $white-11;
    }
    .checkbox2 {
      background-color: $pink-10;
    }
    .checkbox3 {
      background-color: $brown-20;
    }
    .checkbox4 {
      background-color: $brown-30;
    }
    .checkbox5 {
      background-color: $brown-40;
    }
    .checkbox6 {
      background-color: $brown-50;
    }
    .checkbox7 {
      background-color: $brown-60;
    }
  }

  .input-size {
    font-family: "Open Sans Light", sans-serif;
  }

  .left-size {
    display: inline-block;
    width: 50%;
  }

  .right-size {
    display: inline-block;
    width: 50%;
    float: right;
  }

  .checkbox-border {
    background: $white;
  }

  .catalog-void {
    font-family: "Georgia Bold Italic", sans-serif;
    a {
      position: relative;
      bottom: 5px;
      padding-left: 10px;
      color: $brown;
    }
  }
  .text-price {
    h3 {
      font-family: "Georgia Bold Italic",sans-serif;
    }
    p {
      font-family: "Open Sans Light",sans-serif;
    }
  }

}