.section-5 {
  min-height: 706px;

  .border {
    border: 2px solid $accent-yellow;
    display: block;
    position: absolute;
    top: -10px;
    right: 25px;
    width: 100%;
    height: 562px;
  }

  .individual-text {
    font-family: "OpenSansItalic-600", sans-serif;
    color: $white;
  }

  .card {
    border-radius: 0;
    z-index: 1010;
    box-shadow: 8px 8px rgba(47,47,47,.3);
  }

  .card-title {
    font-family: 'OpenSansItalic-700', sans-serif;
  }

  .card-body {
    font-family: "OpenSansLatin-300", sans-serif;
    p{
      color: $gray-20;
    }
  }

  .price {
    span {
      color: $brown;
      font-weight: bold;
    }
  }

  .stars {
    font-size: 12px;
  }

  .discount {
    position: absolute;
    right: 20px;
    top: 190px;
  }

 .forms {
   z-index: 1010;
   width: 100%;
   height: 100%;
   text-align: center;
   background-color: $white;
   border: 2px solid $accent-yellow;
    h1 {
      font-family: 'OpenSansItalic-600',sans-serif;
      font-weight: bold;
      white-space: nowrap;
    }
   p{
     font-family: 'OpenSansLatin-300',sans-serif;
   }
    input {
      border: 2px solid $accent-yellow;
    }
 }

  .question {
    border: 2px solid $accent-yellow;
    height: 140px;
  }

  .button {
    color: $brown;
    font-weight: bold;
  }
}
@media only screen and (max-width : 1200px) {
.section-5 {
  .border {
    display: none;
  }
  .forms {
    h1 {
      white-space: normal;
    }
  }
}
}
@media only screen and (max-width : 992px) {
  .section-5 {
    .individual-text {
      text-align: center;
    }
  }
}
@media only screen and (max-width : 991px) {
  .section-5 {
    .mt0 {
      margin-top: 30px;
    }
  }
}
@media only screen and (max-width : 767px) {
  .section-5 {
    .forms {
      h1 {
        white-space: normal;
      }
    }
  }
}
@media only screen and (max-width : 575px) {
  .section-5 {
    .m-card{
      margin-top: 30px;
    }
    .p-card {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}