.section-7 {
  background-color: $gray-30;

  iframe {
    box-shadow: 8px 8px rgba(47,47,47,.3);
  }

  .production-text {
    h4{
      font-family: 'OpenSansItalic-700', sans-serif;
    }
  }

  .production-img {
    position: relative;
    display: inline-block;
    .img {
      width: 92px;
      height: 68px;
      background-repeat: no-repeat;
      border: 2px solid $accent-yellow;
    }
  }

  .certificate-text {
    h4{
      font-family: 'OpenSansItalic-700', sans-serif;
    }
  }

  .certificate-img {
    position: relative;
    display: inline-block;
    .img {
      width: 100px;
      height: 146px;
      border: 2px solid $accent-yellow;
    }
  }
}

@media only screen and (max-width : 992px) {
  .section-7 {
    iframe {
      width: 224px;
    }
    .col-md-8 {
      padding-left: 20px;
    }
    .col-md-12 {
      padding-top: 0;
    }
  }
}
@media only screen and (max-width : 767px) {
  .section-7 {
    .cerf {
      padding-top: 50px;
    }
    .pros {
      padding-top: 30px;
    }
  }
}
