.main-head {
  min-height: 738px;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  .top-line {
    position: relative;
    top: 13px;
  }

  .social {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    .fab {
      color: $white;
      margin: 0 2px;
      &:hover {
        transition: all .3s ease;
        color: $accent-yellow;
      }
    }
  }

  .phone {
    position: relative;
    bottom: 10px;
    white-space: nowrap;
    font-family: "Open Sans Light",sans-serif;
    p {
      font-size: 16px;
    }
    span {
      font-size: 30px;
    }
  }

  .main-search {
    position: relative;
    top: 14px;
  }


  .logo{
    img{
      position: relative;
    }
  }

  .search {
    position: relative;
    top: 7px;
    right: 22px;
    .icon {
      position: absolute;
    }
    input {
      padding-left: 20px;
      color: $white;
      background: transparent;
      border-top: none;
      border-right: none;
      border-left: none;
      width: 517px;
    }
  }

  .main-button {
    position: relative;
    top: 5px;
    right: 8px;
    display: flex;
    .button {
      font-family: 'OpenSansLatin-300',sans-serif;
      font-zise: 14px;
      background: transparent;
      border: 2px solid $aque-100;
      padding: 8px 14px;
      transition: all 0.5s ease;
      &:active {
        color: $white;
        background-color: $black;
        border: 2px solid $darkgoldenrod;
      }
      &:focus {
        color: $accent-yellow;
        text-decoration: none;
      }
      &:hover {
        color: $accent-yellow;
        background-color: $black;
        border: 2px solid $darkgoldenrod;
      }
    }
    img {
      position: relative;
      margin: 0 15px;
      width: 30px;
      top: 2px;
      height: 36px;
    }
  }

  .main-menu {
    position: relative;
    top: 8px;
    font-family: 'Georgia',sans-serif;
    font-style: italic;
    ul {
      li {
        list-style-type: none;
        display: inline-block;
        margin: 0 5px;
        a {
          color: $white;
          text-decoration: none;
          transition: all .7s ease;
        }
        &.active, &:hover {
          a {
            color: $accent-yellow;
            transition: all .7s ease;
          }
        }
        &:hover {
          transition: all 0s ease;
          border-bottom: 1px solid $gray;
        }
      }
    }
  }

 .carousel-item {
   height: 310px;
   .btn {
     width: 225px;
     font-size: 14px;
   }
 }

  .range {
    font-family: 'OpenSansLatin-800', sans-serif;
    font-weight: bold;
    width: auto!important;
    color: $brown;
    border-radius: 0;
    border: 2px solid $accent-yellow;
    &:active {
      color: $white!important;
      background-color: $cyan!important;
      border: 2px solid $darkgoldenrod!important;
    }
    &:focus {
      color: $white!important;
      text-decoration: none!important;
    }
    &:hover {
      color: $accent-yellow!important;
      background-color: $black!important;
      border: 2x solid $darkgoldenrod!important;
    }
  }

  .range-two {
    border-radius: 0;
    width: auto!important;
    border: 2px solid $accent-yellow;
    &:active {
      color: $white!important;
      background-color: $cyan!important;
      border: 2px solid $darkgoldenrod!important;
    }
    &:focus {
      color: $accent-yellow!important;
      text-decoration: none!important;
    }
    &:hover {
      color: $accent-yellow!important;
      background-color: $black!important;
    }
  }

  .carousel-item {
    h3 {
      font-family: "Georgia Regular",sans-serif;
    }
    p {
      font-family: "Open Sans Light",sans-serif;
    }
  }

  .toggle-menu {
    display: block;
    float: left;
    position: relative;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 48px;
    width: 28px;
    height: 28px;
    padding-top: 20px;
    margin: 30px;
    margin-bottom: 100px;
    z-index: 10;
    span {
      position: relative;
      display: block;
      width: 100%;
      height: 3px;
      background-color: $white;
      transition: all 0.3s;
      backface-visibility: hidden;
      border-radius: 2px;
      &:after {
        top: 9px;
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $white;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;
      }
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
        width: 100%;
        height: 3px;
        background-color: $white;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;
      }
    }
    &.on {
      span {
        background-color: transparent;
        &:before {
          transform: rotate(45deg) translate(5px, 5px);
        }
        &:after {
          transform: rotate(-45deg) translate(7px, -8px);
        }
      }
    }
  }
  .icon-modal {
    .icon {
      z-index: 1000;
      position: relative;
    }
    .modal-dialog{
      margin: 0;
    }
    .modal-content {
      width: 100vw;
      height: 100vh;
    }
  }
}
@media only screen and (max-width : 1200px) {
  .main-head {
    .search {
      #search {
        width: 430px;
      }
    }

    .icon-phone {
      display: none;
    }

    .search-icon {
      display: none;
    }

    .button {
      font-size: 11px;
    }

    .toggle-menu {
      display: none;
    }

    .search-modal {
      display: none;
    }
    .icon-modal {
      display: none;
    }
  }
}

@media only screen and (max-width : 992px) {
  .main-head {
    .phone {
      bottom: 0;
      span{
        font-size: 21px;
      }
    }

    .logo {
      img {
        width: 100%;
      }
    }

    .search {
      top: 0;
      right: 0;
      padding-left: 10px;
      #search {
        width: 300px;
      }
    }

    .main-button {
      img {
        display: none;
      }
    }

    .carousel-item {
      .d-flex {
        padding: 35px;
        padding-top: 30px;
      }
      h3 {
        font-size: 28px!important;
        padding: 5px;
      }
      .w-100 {
        margin-top: 5px;
        .button{
          margin: 5px;
        }
      }
    }

  }
}

@media only screen and (max-width : 767px) {
  .main-head {
    .social {
      margin-left: 5px;
    }

    .search {
      padding-left: 10px;
      #search {
        width: 240px;
      }
    }

    .main-button {
      top: 0;
      right: 0;
    }

    .toggle-menu {
      display: block;
    }

    .head-menu {
      .main-menu {
        display: none;
        min-width: 295px;
        float: right;
        text-align: right;
        background-color: #1c242c;
        border-bottom: $violet 4px solid;
        border-top: $navy-blue 4px solid;
        position: absolute;
        top: 38px;
        right: 15px;
        z-index: 1000;
        ul {
          padding: 0;
        }
        li {
          display: block;
          line-height: 0;
          padding: 0;
        }
        a {
          display: block;
          line-height: 48px;
          padding: 0 20px;
          background-color: #394b5f;
          font-size: 18px;
          transition: all .7s ease;
          &:hover {
            background-color: #1b2637;
            transition: all .7s ease;
          }
        }
      }
    }



  }
}
@media only screen and (max-width : 580px) {
  .main-head {
    .phone {
      text-align: right;
    }

    .logo {
      margin-left: 5px;
    }

    .search {
      margin-left: 30px;
    }

    .main-button {
      display: none;
    }

    .main-menu{
      margin-left: 5px;
      ul{
        font-size: 16px;
      }
    }
    .search {
      display: none;
    }
    .icon-modal {
      display: block;
      text-align: right;
      top: -20px;
      position: absolute;
      right: 0;
      .icon{
        background: transparent;
        border: none;
      }
      .fas {
        z-index: 1050;
        color: $white;
        &:hover {
          color: $accent-yellow;
        }
      }
      .fa {
        color: $white;
        z-index: 1050;
        &:hover {
          color: $accent-yellow;
        }
      }
    }
  }
}

@media only screen and (max-width : 480px) {
  .main-head {
    .phone {
      span {
        font-size: 17px;
      }
    }

    .range {
      font-size: 12px!important;
    }

    .range-two {
      padding-left: 30px;
      padding-right: 30px;
    }

    .search {
      #search {
        width: 180px;
      }
    }

    .carousel-control-prev-icon {
      position: relative;
      top: 75px;
    }
    .carousel-control-next-icon {
      position: relative;
      top: 75px;
    }

    .carousel-item {
      .d-flex {
        padding: 0;
      }
      h3 {
        font-size: 28px!important;
        padding: 5px;
      }
      .w-100 {
        margin-top: 5px;
        .button{
          margin: 5px;
        }
      }
    }

    .carousel-item {
      h3 {
        font-size: 27px;
      }
    }

    .range {
      white-space: normal;
    }
    .icon-phone {
      display: block!important;
      color: $white;
      background: transparent;
      border: none;
      position: absolute;
      right: 0;
      &:hover {
        color: $accent-yellow;
      }
    }
    .number-phone {
      display: none;
    }

  }
}




@import "../../style/media";
