.footer {
  background-color: $black-footer;
  min-height: 380px;
  color: $white-10;

  h4{
    font-family: "OpenSansItalic-600", sans-serif;
  }

  .map-text {
    display: inline-block;
    position:relative;
    left: 10px;
    top: 8px
  }

  .footer-menu {
    ul {
      display: inline-block;
      list-style-type: none;
      li {
        padding-top: 10px;
        a {
          font-size: 14px;
          color: $white-10;
        }
        &.active, &:hover {
          a {
            border-bottom: none!important;
            color: $accent-yellow;
            border-bottom: 1px solid $gray;
            transition: all .7s ease;
          }
        }
      }
    }
  }

  .footer-catalog {
    ul {
      display: inline-block;
      list-style-type: none;
      li {
        padding-top: 10px;
        a {
          font-size: 14px;
          color: $white-10;
          transition: all .7s ease;
        }
        &.active, &:hover {
          a {
            border: none!important;
            color: $accent-yellow;
            border-bottom: 1px solid $gray;
            transition: all .7s ease;
          }
        }
      }
    }
  }

  .social-footer {
    .fab {
      color: $white;
      &:hover {
        color: $accent-yellow;
        transition: all .3s ease;
      }
    }
    .social-icon {
      margin: 0 5px;
    }
  }
}
@media only screen and (max-width : 992px) {
  .footer {
    h4 {
      font-size: 20px;
    }
    .icon-map {
      padding-top: 10px;
    }
    .pl50 {
      padding: 0;
      padding-left: 30px;
      h4{
        padding-bottom: 2px;
      }
      p {
        padding-top: 2px;
      }
    }
  }
}
@media only screen and (max-width : 767px) {
  .footer {
    h4 {
      padding-top: 15px;
    }
    .social-footer {
      padding-top: 10px;
    }
  }

  .pl50 {
    text-align: center;
    p {
      padding-right: 0;
    }
  }

}