// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;



$blue:    #0020f0 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #35ceb2 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$violet:  #22133E !default;
$accent-yellow: #FFCC00 !default;
$black: #111111 !default;
$white: #fff !default;
$gray: #3d3d3d !default;
$white-1000: #edefed !default;
$white-10: #dadcda !default;
$graymenu: #898789 !default;
$white-gray: #efefef !default;
$navy-blue: #232D3B;
$black1: #1c242c;
$black-button: #14161d;
$gray-border: #545960;
$white1: #b7b7b7;
$gray-10: #9f9fa0;
$gray-20: #999999;
$gray-30: #edefed;
$gray-40: #e6e7e5;
$aque-100: #38ceb3;
$orange-900: #a07c43;
$brown: #583b1c;
$black-footer: #333333;

