@import "color";

body {
  color: $white;
}

.btn-accent {
  background-color: $accent-yellow!important;
}

.b-bottom {
  border-bottom: 1px solid $white-10;
}

.btn-accent-outline {
  background: transparent!important;
  border: 2px solid $accent-yellow!important;
}


.button {
  color: $white;
  background-color: $accent-yellow;
  font-size: 15px;
  padding: 12px 12px;
  transition: background-color .25s ease;
  &:hover {
    text-decoration: none;
    background-color: lighten($accent-yellow, 12%);
  }
  &:active {
    background-color: lighten($accent-yellow, 10%);
  }
  &:focus {
    text-decoration: none;
  }
}

.p-0 {
  padding: 0;
}

.hidden {
  display: none;
}

.d-block {
  display: block;
}

.i-block {
  display: inline-block;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

stong, b {
  font-weight: normal;
}


.mm-menu {
    z-index: 1010;
  .fa {
    display: none;
  }
}

.w-80 {
  width: 80%;
}
.f-gr-1 {
  flex-grow: 1;
}
