
/* open-sans-300 - cyrillic_latin */
@font-face {
  font-family: 'OpenSansLatin-300';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v15-cyrillic_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('../fonts/open-sans-v15-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v15-cyrillic_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v15-cyrillic_latin-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v15-cyrillic_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v15-cyrillic_latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'OpenSansRegular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v15-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('../fonts/open-sans-v15-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v15-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v15-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v15-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v15-cyrillic_latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-300italic - cyrillic_latin */
@font-face {
  font-family: 'OpenSansItalic-300';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/open-sans-v15-cyrillic_latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
  url('../fonts/open-sans-v15-cyrillic_latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v15-cyrillic_latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v15-cyrillic_latin-300italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v15-cyrillic_latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v15-cyrillic_latin-300italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - cyrillic_latin */
@font-face {
  font-family: 'OpenSansLatinItalic';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v15-cyrillic_latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
  url('../fonts/open-sans-v15-cyrillic_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v15-cyrillic_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v15-cyrillic_latin-italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v15-cyrillic_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v15-cyrillic_latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600italic - cyrillic_latin */
@font-face {
  font-family: 'OpenSansItalic-600';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/open-sans-v15-cyrillic_latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
  url('../fonts/open-sans-v15-cyrillic_latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v15-cyrillic_latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v15-cyrillic_latin-600italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v15-cyrillic_latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v15-cyrillic_latin-600italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - cyrillic_latin */
@font-face {
  font-family: 'OpenSansLatin-700';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v15-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
  url('../fonts/open-sans-v15-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v15-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v15-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v15-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v15-cyrillic_latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - cyrillic_latin */
@font-face {
  font-family: 'OpenSansLatin-600';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v15-cyrillic_latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
  url('../fonts/open-sans-v15-cyrillic_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v15-cyrillic_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v15-cyrillic_latin-600.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v15-cyrillic_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v15-cyrillic_latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700italic - cyrillic_latin */
@font-face {
  font-family: 'OpenSansItalic-700';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/open-sans-v15-cyrillic_latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
  url('../fonts/open-sans-v15-cyrillic_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v15-cyrillic_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v15-cyrillic_latin-700italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v15-cyrillic_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v15-cyrillic_latin-700italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800italic - cyrillic_latin */
@font-face {
  font-family: 'OpenSansItalic-800';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/open-sans-v15-cyrillic_latin-800italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
  url('../fonts/open-sans-v15-cyrillic_latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v15-cyrillic_latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v15-cyrillic_latin-800italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v15-cyrillic_latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v15-cyrillic_latin-800italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans-v15-cyrillic_latin-800.eot'); /* IE9 Compat Modes */
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
  url('../fonts/open-sans-v15-cyrillic_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v15-cyrillic_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v15-cyrillic_latin-800.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v15-cyrillic_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v15-cyrillic_latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Open Sans ExtraBold';
  src: url('../fonts/OpenSans-ExtraBold.eot');
  src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
  url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia Regular';
  src: url('../fonts/Georgia.eot');
  src: url('../fonts/Georgia.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Georgia.woff') format('woff'),
  url('../fonts/Georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia Bold';
  src: url('../fonts/Georgia-Bold.eot');
  src: url('../fonts/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Georgia-Bold.woff') format('woff'),
  url('../fonts/Georgia-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia Bold Italic';
  src: url('../fonts/Georgia-BoldItalic.eot');
  src: local('../fonts/Georgia Bold Italic'), local('Georgia-BoldItalic'),
  url('../fonts/Georgia-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Georgia-BoldItalic.woff') format('woff'),
  url('../fonts/Georgia-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'GeorgiaItalic';
  src: url('../fonts/Georgia-Italic.eot');
  src: local('Georgia Italic'), local('Georgia-Italic'),
  url('../fonts/Georgia-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Georgia-Italic.woff') format('woff'),
  url('../fonts/Georgia-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PlayfairDisplayBold';
  src: url('../fonts/PlayfairDisplay-Bold.eot');
  src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
  url('../fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PlayfairDisplay-Bold.woff') format('woff'),
  url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
