

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

}
	
	/*Disable Animation on Mobile Devices*/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .contacts {
    .button-message {
      .button {
        display: none;
      }
    }
  }
}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .main-head {
    .toggle-menu {
      display: none;
    }
    .icon-phone {
      display: none;
    }
    .icon-modal {
      display: none;
    }
  }

  .section-2 {
    background-image: url(../img/grid-section3-2.png) !important;
  }

  .section-9 {
    background-image: url(../img/map-contact-1300.png)!important;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
  }
}
@media only screen and (min-width : 1200px) {
  .section-2 {
    .pr300{
      padding-right: 0;
    }
  }
}
@media only screen and (min-width : 1199px) {
  .catalog-void {
    .carousel-item {
      .d-1200 {
        display: none!important;
      }
      img {
        display: block!important;
      }
    }
  }
}
	/**/

